# JSON exercise

1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

## Question 1
Find the 10 countries with most projects.

In [2]:
df = pd.read_json('data/world_bank_projects.json')        # load json file into data frame
df['countryname'].value_counts(dropna=False).head(10)     # 10 countries with most projects

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

## Question 2
Find the top 10 major project themes (using column 'mjtheme_namecode').

In [3]:
data = json.load((open('data/world_bank_projects.json')))   # load json file
prj_theme = json_normalize(data, 'mjtheme_namecode')        # get theme's code and name

# Top 10 major project themes (using column 'mjtheme_namecode')
prj_theme['code'].value_counts(dropna=False).head(10)

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

## Question 3
Create a dataframe with the missing names filled in.

In [4]:
theme_w_no_name = prj_theme[prj_theme.name == '']             # theme with missing name
theme_w_name = prj_theme[prj_theme.name != '']                # theme with name

In [5]:
# get unique theme with name
code_name = theme_w_name[['code', 'name']].drop_duplicates()  # unique theme with name
code_name

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [6]:
# Create a dataframe with the missing names filled in
theme_w_filled_name = pd.DataFrame(theme_w_no_name.code.apply(
    lambda x: x + ',' + code_name.loc[code_name.code == x]['name'].to_string().split('    ')[1]))
theme_w_filled_name.head()

                                               code
1   11,Environment and natural resources management
13          6,Social protection and risk management
17                              8,Human development
19                    7,Social dev/gender/inclusion
24                       2,Public sector governance

In [7]:
# put code and name into separate columns
theme_w_filled_name['name'] = theme_w_filled_name['code'].apply(lambda x: x.split(',')[1])
theme_w_filled_name['code'] = theme_w_filled_name['code'].apply(lambda x: x.split(',')[0])
theme_w_filled_name.head()

   code                                          name
1    11  Environment and natural resources management
13    6         Social protection and risk management
17    8                             Human development
19    7                   Social dev/gender/inclusion
24    2                      Public sector governance